body {  
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div {
  flex-wrap: wrap;
}

div.blockDisplay {
  display: block;
}

div.flexDisplay {
  display: flex;
}

footer {
  text-align: center;
}
